@import './Variables.scss';

.coin-info {
	padding-bottom: 2rem;
	width: 100%;
	background-color: $background-colour;

	&.loading {
		height: 419px;
	}

	.heading {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: left;
		border-bottom: 2px solid #fff;

		.logo {
			margin-left: 1rem;
			height: 2rem;
		}

		.coin-name {
			margin: 1rem;
		}
	}

	.info {
		padding: 0.5rem 0.5rem;
	}

	.info > span:first-child {
		padding: 0.5rem;
		font-weight: 700;
	}

	.add-favourites {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 0.5rem;
		padding: 1rem 0;
		cursor: pointer;
		user-select: none;

		.symbol {
			padding: 0 0.5rem;
		}

		.add-text {
			color: $blue;
			font-weight: 700;
		}
	}
}

@media (min-width: 550px) {
	.coin-info {
		width: 60%;
	}
}

@media (min-width: 768px) {
	.coin-info {
		width: 100%;
		padding: 3rem 0 4rem 0;
	}
}
