// Colours
$orange: #ff962e;
$darkorange: #ce7721;
$black: #000;
$white: #fff;
$blue: #1882e4;
$green: #13a775;
$table-border: 1px solid #e2e2e2;
$background-colour: #f3f3f3;

// Transition
$reg-transition: all 300ms ease;

// Max Container Width
$max-width: 47.5rem;
